/* FlameTheme */
body {
    background-color: black;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    text-align: center;
}

h1 {
    margin-top: 50vh;
}

/* get flame @ dsc.gg/flamexp */
